* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
p {
  font-size: 14px;
}
/* GENERIC */
.section-title {
  padding-top: 90px;
  padding-bottom: 50px;
}
.section-title h2 {
  position: relative;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: #fcb026;
  margin-left: -30px;
}
.section-title p {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}
/* HEADER */
.header {
  background-image: url("../images/header-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.header-overlay {
  background-color: rgba(31, 31, 31, 0.75);
  height: 100vh;
  min-height: 700px;
  padding-top: 0;
  padding-bottom: 0;
}
.header-container {
  padding-top: 180px;
}
.logo {
  padding-bottom: 50px;
}
.logo img {
  height: 250px;
  width: 250px;
}
.header-text h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase;
}
.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}
@media (max-width: 769px) {
  .scroll-down {
    display: none;
  }
}
.scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.btn-tour:hover {
  color: grey;
  border: 2px solid grey;
}
/* ABOUT US */
.choose-us-wraper {
  padding-top: 50px;
}
.about-tailor img {
  margin-top: 8px;
}
.choose-us-title {
  padding-bottom: 50px;
}
.choose-us-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}
.choose-us-title h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #fcb026;
}
.choose-us-title p {
  margin-top: 40px;
  font-size: 19px;
  line-height: 24px;
}
.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;
}
.choose-us-item div {
  position: absolute;
  top: 0;
  left: 0;
}
.choose-us-item div i {
  font-size: 55px;
  color: #fcb026;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.choose-us-item h3 {
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
.choose-us-item p {
  color: #727272;
  font-size: 15px;
}
/* PURCHASE */
.purchase-now {
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.purchase-now p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}
.btn-pruchase-now,
.btn-pruchase-now:active,
.btn-pruchase-now:focus,
.btn-pruchase-now:visited {
  background-color: #fcb026;
  border: 1px solid #fcb026;
  color: #fff;
  border-radius: 3px;
  padding: 15px 35px;
  text-transform: uppercase;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.btn-pruchase-now:hover {
  background-color: #fcb026;
  border-color: #fcb026;
}
/* CONTACT US */
.contact-us-form .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #555;
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  margin-bottom: 15px;
  opacity: 0.8;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
#message {
  height: 117px;
  resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  background-color: transparent;
  border: 1px solid #fcb026;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fcb026;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.submit-btn:hover {
  background: #fcb026;
  color: #fff;
  border-color: #fcb026;
}
.social-icons {
  padding-top: 50px;
  padding-bottom: 70px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-icons ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
}
.social-icons ul li a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  line-height: 49px;
  color: #9d9d9d;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.social-icons ul li a:hover {
  background-color: #fcb026;
  border: 1px solid #fcb026;
  color: #fff;
}
.social-icons ul li a i {
  font-size: 20px;
}
/* FOOTER */
.footer {
  background-color: #1a1a1a;
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 3px solid #fcb026;
}
#copyright {
  width: 50%;
}
#copyright p {
  color: #8c8b8a;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#copyright p a {
  text-decoration: none;
  color: #fcb026;
}
.scroll-top {
  text-align: right;
}
.scroll-top a {
  background-color: #fcb026;
  border-radius: 100%;
  padding: 25px;
}
.scroll-top a i {
  color: #fff;
  font-size: 25px;
}
